{
  "presets": [
    "@babel/typescript",
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "node": "6.11.5"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
